<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title></title>

    <link rel="stylesheet" href="css/bootstrap1.min.css" />

    <link rel="stylesheet" href="vendors/themefy_icon/themify-icons.css" />

    <link rel="stylesheet" href="vendors/owl_carousel/css/owl.carousel.css" />

    <link rel="stylesheet" href="vendors/scroll/scrollable.css" />

    <link rel="stylesheet" href="vendors/text_editor/summernote-bs4.css" />

    <link rel="stylesheet" href="vendors/morris/morris.css" />

    <link rel="stylesheet" href="vendors/material_icon/material-icons.css" />
    <link rel="stylesheet" href="css/metisMenu.css" />
    <link rel="stylesheet" href="css/style1.css" />
 
  </head>
  <body class="crm_body_bg">
    <nav
      class="sidebar vertical-scroll ps-container ps-theme-default ps-active-y"
    >
      <ul id="sidebar_menu">
        <li class="mm-active">
          <a class="" href="#" aria-expanded="false">
            <div class="icon_menu">
              <img src="img/menu-icon/dashboard.svg" alt />
            </div>
            <span>Courses</span>
          </a>
        </li>
        <li class="mm-active">
          <a class="has-arrow" href="#" aria-expanded="false">
            <div class="icon_menu">
              <img src="img/menu-icon/dashboard.svg" alt />
            </div>
            <span>Communication</span>
          </a>
          <ul>
            <li><a class="active" href="#">Q&A</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Announcements</a></li>
            <!-- <li><a href="#">Assignments</a></li> -->
          </ul>
        </li>
        <li class="mm-active">
          <a class="has-arrow" href="#" aria-expanded="false">
            <div class="icon_menu">
              <img src="img/menu-icon/dashboard.svg" alt />
            </div>
            <span>Performance</span>
          </a>
          <ul>
            <li><a class="active" href="#">Overview</a></li>
            <li><a href="#">Students</a></li>
            <li><a href="#">Reviews</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <section class="main_content dashboard_part large_header_bg">
      <div class="container-fluid g-0">
        <div class="row">
          <div class="col-lg-12 p-0">
            <div
              class="header_iner d-flex justify-content-between align-items-center"
            >
              <div class="sidebar_icon d-lg-none">
                <i class="ti-menu"></i>
              </div>
              <div class="serach_field-area d-flex align-items-center">
                <div class="logo d-flex justify-content-between">
                  <a href="#"><img src="img/logo.png" alt /></a>
                  <div class="sidebar_close_icon d-lg-none">
                    <i class="ti-close"></i>
                  </div>
                </div>
              </div>
              <div
                class="header_right d-flex justify-content-between align-items-center"
              >
                <div class="header_notification_warp d-flex align-items-center">
                  <li>
                    <a
                      class="bell_notification_clicker nav-link-notify"
                      href="#"
                    >
                      <img src="img/icon/bell.svg" alt />
                    </a>

                    <div class="Menu_NOtification_Wrap">
                      <div class="notification_Header">
                        <h4>Notifications</h4>
                      </div>
                      <div class="Notification_body">
                        <div class="single_notify d-flex align-items-center">
                          <div class="notify_thumb">
                            <a href="#"><img src="img/staf/2.png" alt /></a>
                          </div>
                          <div class="notify_content">
                            <a href="#"><h5>Cool Marketing</h5></a>
                            <p>Lorem ipsum dolor sit amet</p>
                          </div>
                        </div>

                        <div class="single_notify d-flex align-items-center">
                          <div class="notify_thumb">
                            <a href="#"><img src="img/staf/4.png" alt /></a>
                          </div>
                          <div class="notify_content">
                            <a href="#"><h5>Awesome packages</h5></a>
                            <p>Lorem ipsum dolor sit amet</p>
                          </div>
                        </div>

                        <div class="single_notify d-flex align-items-center">
                          <div class="notify_thumb">
                            <a href="#"><img src="img/staf/3.png" alt /></a>
                          </div>
                          <div class="notify_content">
                            <a href="#"><h5>what a packages</h5></a>
                            <p>Lorem ipsum dolor sit amet</p>
                          </div>
                        </div>

                        <div class="single_notify d-flex align-items-center">
                          <div class="notify_thumb">
                            <a href="#"><img src="img/staf/2.png" alt /></a>
                          </div>
                          <div class="notify_content">
                            <a href="#"><h5>Cool Marketing</h5></a>
                            <p>Lorem ipsum dolor sit amet</p>
                          </div>
                        </div>

                        <div class="single_notify d-flex align-items-center">
                          <div class="notify_thumb">
                            <a href="#"><img src="img/staf/4.png" alt /></a>
                          </div>
                          <div class="notify_content">
                            <a href="#"><h5>Awesome packages</h5></a>
                            <p>Lorem ipsum dolor sit amet</p>
                          </div>
                        </div>

                        <div class="single_notify d-flex align-items-center">
                          <div class="notify_thumb">
                            <a href="#"><img src="img/staf/3.png" alt /></a>
                          </div>
                          <div class="notify_content">
                            <a href="#"><h5>what a packages</h5></a>
                            <p>Lorem ipsum dolor sit amet</p>
                          </div>
                        </div>
                      </div>
                      <div class="nofity_footer">
                        <div class="submit_button text-center pt_20">
                          <a href="#" class="btn_1">See More</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a class="CHATBOX_open nav-link-notify" href="#">
                      <img src="img/icon/msg.svg" alt />
                    </a>
                  </li>
                </div>
                <div class="profile_info">
                  <img src="img/client_img.png" alt="#" />
                  <div class="profile_info_iner">
                    <div class="profile_author_name">
                      <p>Neurologist</p>
                      <h5>Dr. Robar Smith</h5>
                    </div>
                    <div class="profile_info_details">
                      <a href="#">My Profile </a>
                      <a href="#">Settings</a>
                      <a href="#">Log Out </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main_content_iner overly_inner">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-12">
              <div
                class="page_title_box d-flex align-items-center justify-content-between"
              >
                <div class="page_title_left">
                  <h3 class="f_s_30 f_w_700 text_white">Overview</h3>
                </div>
                <!-- <a href="#" class="white_btn3">Compose</a> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 card_height_100">
              <div class="white_card mb_20">
                <div class="white_card_header">
                  <ul class="nav" id="myTab" role="tablist">
  <li class="nav-item box col-sm-3">
    <a class="nav-link active text_tab" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
    <div class="total__holder">Total Revenue</div>
    <div class="big__text">$120.00</div>
    <div class="rating__holder">$120.00 this month</div>

   </a>
  </li>
  <li class="nav-item box col-sm-3">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
      <div class="total__holder">Total Revenue</div>
    <div class="big__text">$120.00</div>
    <div class="rating__holder">$120.00 this month</div>
    </a>
  </li>
  <li class="nav-item box col-sm-3">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
      <div class="total__holder">Total Revenue</div>
    <div class="big__text">$120.00</div>
    <div class="rating__holder">$120.00 this month</div>
    </a>
  </li>
</ul>
<div class="tab-content all__padding" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">No data to display</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="js/jquery1-3.4.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/2d537fef4a.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/metisMenu.js"></script>
    <script src="vendors/text_editor/summernote-bs4.js"></script>
    <script src="js/dashboard_init.js"></script>
    <script src="js/custom.js"></script>
     <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js'></script> 

<script src='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.js'></script>
    <script>
      $(function () {

    /* Summernote Validation */

    var summernoteForm = $('.form-validate-summernote');
    var summernoteElement = $('.summernote');

    var summernoteValidator = summernoteForm.validate({
        errorElement: "div",
        errorClass: 'is-invalid',
        validClass: 'is-valid',
        ignore: ':hidden:not(.summernote),.note-editable.card-block',
        errorPlacement: function (error, element) {
            // Add the `help-block` class to the error element
            error.addClass("invalid-feedback");
            console.log(element);
            if (element.prop("type") === "checkbox") {
                error.insertAfter(element.siblings("label"));
            } else if (element.hasClass("summernote")) {
                error.insertAfter(element.siblings(".note-editor"));
            } else {
                error.insertAfter(element);
            }
        }
    });

    summernoteElement.summernote({
        height: 300,
        callbacks: {
            onChange: function (contents, $editable) {
                // Note that at this point, the value of the `textarea` is not the same as the one
                // you entered into the summernote editor, so you have to set it yourself to make
                // the validation consistent and in sync with the value.
                summernoteElement.val(summernoteElement.summernote('isEmpty') ? "" : contents);

                // You should re-validate your element after change, because the plugin will have
                // no way to know that the value of your `textarea` has been changed if the change
                // was done programmatically.
                summernoteValidator.element(summernoteElement);
            }
        }
    });

});
    </script>
  </body>
</html>
